* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

:root {
    --bg-color: #051D37;
    --final-bg-color: #021427;

    --switch-bg: #ffe44b;
    --switch-span-bg: #215184;
    --switch-bg-url: url(./assets/MoonStars.svg);
    --switch-button-border: rgb(238, 194, 0);
}

.light {
    --bg-color: rgba(31, 75, 122, 1);
    --final-bg-color: rgba(11, 45, 82, 1);

    --switch-bg: #E19500;
    --switch-span-bg: #3D8DAF;
    --switch-bg-url: url(./assets/Sun.svg);
    --switch-button-border: #cf7500;
}

body {
    background-color:var(--bg-color);
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    margin: 26px 119px;
}

/* CABEÇALHO */ 

#cabecalho {
    background-color: #217DA5;
    width: 100%;
    height: 76px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 166.5px;
    height: 40.6px;
}

.title1, .title2 {
    display: inline;
}

.title, .pipoca {
    display: inline-block;
}

.title1 {
    font-weight: 400;
    font-size: 101.34px;
    line-height: 122.65px;

    width: 677px;
    height: 123px;
}

.title2 {
    font-weight: 700;
    font-size: 101.34px;
    line-height: 122.65px;

    width: 677px;
    height: 123px;
}

.subtitle {
    font-weight: 400;
    font-size: 18.49px;
    line-height: 22.37px;

    width: 750px;
    height: 22px;
}

.pipoca {
    width: 157px;
    height: 157px;
}

.pipoca:hover {
    content: url(./assets/pipoca.png);
}

#switch {
    width: 64px;

    margin-top: 10px;
    margin-left: 95%;

    position: relative;
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch button {
    background: var(--switch-bg) var(--switch-bg-url) no-repeat center;   
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#switch button:hover {
    border: 5px solid var(--switch-button-border);
    transition: 0.2s;
}

#switch span {
    background: var(--switch-span-bg);
    width: 64px;
    height: 24px;
    
    display: block;
    border-radius: 9999px;
}

#linha {    
    border: 1px solid #217DA5;
    width: 100%;

    margin-top: 30px;
}

/* CATALOGO */

#catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title_catalogo {
    font-weight: 700;
    font-size: 52.73px;
    line-height: 63.81px;

    width: 295px;
    height: 64px;

    margin-top: 37px;
}

#filmes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 203px);
    grid-gap: 41px;
    justify-content: center;

    margin-top: 28px;
}

#item {
    background-color: rgba(33, 125, 165, 1);
    width: 203px;
    height: 290px;
}

#filmes-click {
    display: none;

    grid-column-start: 1;
    /* grid-column-end: 6; */
    grid-row-start: 2;
    grid-row-end: 3;

    width: 100%;
    height: 184px; 
}

.next {
    background: url(./assets/Frame.png) no-repeat center;
}

.filme1 {
    background: url(./assets/image\ 6.png);
    background-size: cover;
    background-position: center;
}

.filme1:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

.rei-leao {
    background-image: url(./assets/rei\ leao.png);
    background-size: cover;
    background-position: center;
}

.rei-leao:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

.rapunzel {
    background-image: url(./assets/rapunzel.png);
    background-size: cover;
    background-position: center;
}

.rapunzel:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

.toy-story {
    background-image: url(./assets/toy\ story.png);
    background-size: cover;
    background-position: center;
}

.toy-story:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}


/* DESCRIPTION */

#description {
    display: none;
    position: absolute; 
    top: 788px;

    background-color: rgba(33, 125, 165, 1);
    box-shadow: 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 184px;
} 

.linha-amarela {
    background-color: rgba(244, 199, 8, 1);
    width: 100%;
    height: 19px;

    position: relative;
}

.seta-amarela1 {
    width: 26.87;
    height: 26.87;
    transform: translateY(-90%);

    margin-left: 510px;
}

#item-click {
    display: flex;
    
    width: 100%;
    height: 165px;
    margin-top: -42px;
}

#filmImage {
    width: 618px;
    height: 165px;
}

#descricao {
    margin-left: 24px;
    margin-top: 13px;
    margin-right: 25px;
}

#filme-details {
    height: 60px;
    display: inline;
    position: relative;

    top: 0;
    left: 0;
}

#filmTitle {
    font-weight: 700;
    font-size: 49.67px;
    line-height: 60.11px;

    width: 285px;
    height: 60px;
    
}

#year {
    font-weight: 700;
    font-size: 16.56px;
    line-height: 20.04px;

    width: 43px;
    height: 20px;

    position: absolute;
    margin-top: 19px;
    margin-left: 280px;
    right: 0;
}

#rating {
    background: url(./assets/rating.png) ;
    background-size: cover;
    background-position: center;

    width: 140px;
    height: 28px;

    margin-top: 25px;
    /* margin-left: 249px; */

    position: absolute;
    left: 70%;
}

#delete {
    background: url(./assets/delete.png) ;
    background-size: cover;
    background-position: center;

    width: 28px;
    height: 28px;

    margin-top: 25px;
    margin-left: 26px;

    position: absolute;
    left: 90%;

}

#summary {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.15px;

    height: 70px;
    margin-top: 11px;    
    
}

/* ADD FILM */

#add-film {
    display: none;
    position: absolute; 
    top: 788px;

    background-color: rgba(33, 125, 165, 1);
    box-shadow: 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 184px;
    
} 

.seta-amarela2 {
    width: 26.87;
    height: 26.87;
    transform: translateY(-90%);

    margin-left: 1189px;
}

#add-click {
    display: flex;
    
    width: 100%;
    height: 165px;
    margin-top: -42px;
}

#insert-poster {
    background-color: rgba(137, 191, 204, 1);
    width: 616px;
    height: 165px;

    margin-left: 4px;

    display: flex;
}

#add, #add-phrase {
    display: inline-flex;
}

#add-image {
    width: 96px;
    height: 96px;

    margin-left: 19px;
    margin-top: 24px;
}

#add-phrase {
    color: rgba(33, 125, 165, 1);
    font-weight: 700;
    font-style: italic;
    font-size: 22.75px;
    line-height: 27.54px;

    width: 175px;
    height: 28px;

    margin-top: 58px;
    margin-left: 5px;
}

#add-description {
    width: 80%;

    margin-left: 24px;
    margin-top: 13px;
    margin-right: 25px;
}

#add-filme-details {
    height: 70px;
    display: flex;
    position: relative;

    top: 0;
    left: 0;
}

#add-filmTitle {
    color: rgba(255, 255, 255, 0.46);
    font-weight: 700;
    font-style: italic;
    font-size: 49.67px;
    line-height: 60.11px;

    width: 353px;
    height: 60px;

    margin-top: 13px;
}

#add-year {
    color: rgba(148, 185, 207, 1);
    font-weight: 700;
    font-size: 16.56px;
    line-height: 20.04px;

    width: 195px;
    height: 20px;

    /* position: absolute; */
    margin-top: 37px;
    /* margin-left: 280px; */
    /* right: 0; */

} 

#add-rating {
    background: url(./assets/rating-null.png) ;
    background-size: cover;
    background-position: center;

    width: 140px;
    height: 28px;

    margin-top: 29px;
    margin-left: 79px;

    position: absolute;
    left: 75%;
}

#insert-film, #save-film {
    display: inline;
}

#insert-film {
    color: rgba(148, 185, 207, 1);
    font-weight: 700;
    font-style: italic;
    font-size: 16.15px;
    line-height: 18.15px;

    width: 771px;
    height: 70px;
} 

#save-film {
    background-color: rgba(244, 199, 8, 1);
    width: 172px;
    height: 25px;
    border-radius: 4px;

    color: rgba(33, 125, 165, 1);
    font-weight: 700;
    font-size: 12.6px;
    line-height: 15.24px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 85%;
    top: 80%
} 

/* FINAL */

#final {
    background-color: var(--final-bg-color);
    width: 100%;
    height: 309px;

    margin-top: 314px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
}

#logo2 img {
    width: 363.5px;
    height: 88.64px;

    margin-top: 88px;
}

.footer {
    font-weight: 400;
    font-size: 14.15px;
    line-height: 17.13px;

    width: 336px;
    height: 17px;
    color: rgba(31, 75, 122, 1);

    margin-top: 100px;
} 