* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root {
    --bg-color: #0E3054;
    --final-bg-color: #051B32;
    --switch-bg: #FFFA85;
    --switch-span-bg: #215184;
    --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
    --bg-color: rgba(31, 75, 122, 1);
    --final-bg-color: rgba(11, 45, 82, 1);
    --switch-bg: #E19500;
    --switch-span-bg: #3D8DAF;
    --switch-bg-url: url(./assets/Sun.svg);
}

body {
    background-color:var(--bg-color);
    position: relative;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    margin: 26px 119px;
}

#cabecalho {
    background-color: #217DA5;
    width: 100%;
    height: 76px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 166.5px;
    height: 40.6px;
}

.title1, .title2 {
    display: inline;
}

.title, .pipoca {
    display: inline-block;
}

.title1 {
    font-weight: 400;
    font-size: 101.34px;
    line-height: 122.65px;

    width: 677px;
    height: 123px;
}

.title2 {
    font-weight: 700;
    font-size: 101.34px;
    line-height: 122.65px;

    width: 677px;
    height: 123px;
}

.subtitle {
    font-weight: 400;
    font-size: 18.49px;
    line-height: 22.37px;

    width: 750px;
    height: 22px;
}

.pipoca {
    width: 157px;
    height: 157px;
}

/* .pipoca, #switch {
    display: inline-block;
} */

#switch {
    width: 64px;
    position: relative;
    margin-top: 10px;
    margin-left: 95%;
    /* border: 1px solid red; */
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch button {
    width: 32px;
    height: 32px;
    background: var(--switch-bg) var(--switch-bg-url) no-repeat center;   
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--switch-span-bg);

    display: block;
    border-radius: 9999px;
}

#linha {    
    border: 1px solid #217DA5;
    width: 100%;
    margin-top: 30px;
}

#catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title_catalogo {
    font-weight: 700;
    font-size: 52.73px;
    line-height: 63.81px;

    width: 295px;
    height: 64px;

    margin-top: 37px;
}

#filmes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 41px;

    margin-top: 28px;

}

#item {
    padding: 70% 0;
    background-color: rgba(33, 125, 165, 1);
}

.next {
    background: url(./assets/Frame.png) no-repeat center;
}

.filme1 {
    background: url(./assets/image\ 6.png);
    background-size: cover;
    background-position: center;
}

.filme1:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

.rei-leao {
    background-image: url(./assets/rei\ leao.png);
    background-size: cover;
    background-position: center;
}

.rei-leao:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

.rapunzel {
    background-image: url(./assets/rapunzel.png);
    background-size: cover;
    background-position: center;
}

.rapunzel:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

.toy-story {
    background-image: url(./assets/toy\ story.png);
    background-size: cover;
    background-position: center;
}

.toy-story:hover {
    border: 4.5px solid rgba(244, 199, 8, 1);
    border-style: inset;
}

#filmes {
    grid-row: 2;
}

.linha-amarela {
    width: 100%;
    height: 19px;
    background-color: rgba(244, 199, 8, 1);
    position: relative;
    z-index: 1;
    
}

.seta-amarela {
    padding-left: 457px;
    width: 26.87;
    height: 26.87;
    position: relative;
    z-index: 2;
    top: 0;
    transform: translateY(-90%);
}

#final {
    background-color: var(--final-bg-color);
    width: 100%;
    height: 309px;

    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo2 img {
    width: 363.5px;
    height: 88.64px;

    margin-top: 88px;
}

.direitos {
    font-weight: 400;
    font-size: 14.15px;
    line-height: 17.13px;

    width: 336px;
    height: 17px;
    color: rgba(31, 75, 122, 1);

    margin-top: 100px;
}